body {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
  padding-top: 8vh;
  font-family: 'Roboto', sans-serif;
}

body.toggled {
  padding-left: 10%;
}

body.toggled #leftSidebar {
  left: 0%;
}

/* Tables */
body.toggled .place {
  display:table;
  height:69px;
  /*width:100%;*/
  width:1208.110px; /*hard coding for wrappers*/
  position:absolute;
}

.main {
  padding-top: 10px;
}

.btn, button {
  border-radius: 0;
}

h3 {
  font-weight: bold;
}

h3#filters{
}

h2#info-header {
}

/* weird placeholder stuff */
tbody {
  width: 96.25%!important;
  max-width: inherit;}

table, th {
  width: 100%;
  margin-bottom: 5%;
  border-collapse: separate;
}

tbody
{
  max-width: inherit;
}

th {
  white-space: nowrap;
}

td, #titleCell {
  width: 25%;
  text-align: center;
}

td, #descCell {
  width: 45%;
  text-align: center;
}

td, #modCell {
  width: 10%;
  text-align: center;
}

td, #catCell {
  width: 10%;
  text-align: center;
}

td, #groupCell {
  width: 10%;
  text-align: center;
}

td, #title {
  width: 25%;
  text-align: left;
}

td, #desc {
  width: 45%;
  text-align: left;
}

td, #mod {
  width: 10%;
  text-align: center;
}

td, #cat {
  width: 10%;
  text-align: center;
}

td, #group {
  width: 10%;
  text-align: center;
}

td {
  height: 69px;
  border-style: solid;
  word-wrap: break-word;
  border-width: thin;
  /* vs #d3d3d3 */
  padding: .75%;
  cursor: pointer;
}

.place {
  position: absolute;
  display: table;
  height: 69px;
  width:100%;
  /*width: 1442px;*/
  position: absolute;
}

.ui-state-highlight {
  background: #A2270C;
}

/* End table CSS*/

#logo {
  max-height: 100%;
}
@media only screen and (max-width: 1425px) {
  #logo {
    min-width: 358px;
  }
}

#sort {
  float: right;
  min-width: 258px;
}
@media only screen and (max-width: 306px) {
  #sort {
    position: relative;
    left: 25px;
  }
}

#filters {
  height: 5%;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  overflow: hidden;
}

#leftSidebar {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  height: 100%;
  position: fixed;
  top: 0;
  left: -10%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 10%;
  z-index: 100;
}

.leftSidebarItem {
  padding: 8px 16px;
  float: left;
  width: 100%;
  border: none;
  outline: none;
  display: block;
}

.leftSidebarItem.btn {
  text-align: left;
}

#leftSidebar::-webkit-scrollbar {
  display: none;
}

#leftSidebar h3 {
  margin-top: 0px;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fadeInLeft{
  border: 1px solid black;
}

/* Side info panel */

.info-panel {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  top: 0;
  padding-top: 6vh;
  right: -300px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}




/* Side info panel toggle action*/

.info-panel.toggled {
  right: 0%;
}


/* Card list wrapper */

.info-panel .info-cards {
  width: 100%;
  height: 90%;
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
}


/* Card list header */

#info-header-container{
  height: 5%;
  width: 100%;
}

#info-header {
  margin: 0;
  width: 85%;
  height: 100%;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-header-container *{
  float: left;
}

#close-ticket-panel-button{
  height: 100%;
  width: 15%;
  margin: 0;
  padding: 0;
  top: 0;
}

#close-ticket-panel-button:hover{
  background-color: #62070C;
}

#close-ticket-panel-button:active{
  background-color: black;
}

#clearBtn {
  height: 5%;
  font-weight: bold;
  border: 2px solid dimgrey;
  border-radius: 0;
  padding: 0.9em;
}
#clearBtn:hover{
  background-color: #62070C;
}
#clearBtn:active{
  background-color: black;
}

/* Individual cards */

.panel {
  direction: ltr;
  margin: 10px; /* changed from 15 */
}

.panel .panel-title {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  width: 80%;
  display: inline-block;
}

.panel-heading {
  padding: 7px 10px;
}

.panel-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.panel-body hr {
  margin: 5px;
}

.panel-body a {
  font-weight: bold;
}

.panel-heading a {
  font-weight: bold;
}

/* Navbar */

.navbar > li > ul  > .dropdown-menu {
}

#navbar-collapse:active{
}

.navbar {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 6vh;
}

.navbar.toggled {
  margin-left: 10%;
}

.navbar-brand {
  position: absolute;
  top: 0%;
  left: 80px;
  cursor: pointer;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  float: right;
  overflow-x: hidden;
}
@media only screen and (max-width: 1025px) {
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }
}

.navbar-collapse li>button {
  width: 100%;
  text-align: left;
}

.navbar-nav li>.btn {
  height: 5.9vh;
}


#app-title {
  cursor: pointer;
  position: fixed;
  top: 1%;
  left: 50%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
@media only screen and (max-width: 1250px) {
  #app-title{
    visibility: hidden;
  }
}

#app-title a, a:hover {
  text-decoration: none;
}


/* Search form */

.form-control:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


/* Alert notifications */

.alert {
  width: 400px;
}


/* Hamburger menu icon */

.hamburger {
  background: transparent;
  border: none;
  height: 32px;
  position: absolute;
  top: 15%;
  width: 32px;
  z-index: 999;
}

.hamburger:hover {
  outline: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger:active {
  outline: none;
}

.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}

.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 5px;
}

.hamburger.is-closed .hamb-middle {
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open .hamb-middle {
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.sortButton {
  border: none;
  height: 2vh;
  width: 3vh;
}

.deleteBtn {
  cursor: pointer;
  border: none;
  border: 2px solid dimgrey;
  border-radius: 5px;
  width: 5vh;
}

.wrapper-header .deleteBtn{
  display: block;
  text-align: center;
  position: absolute;
  right: 0;
}

.panel-heading .deleteBtn{
  display: inline;
  float: right;
  width: 2em;
}

/* Scroll to top button */
.scrollTop {
  width: 52px;
  height: 52px;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  margin: 20px;
  bottom: 0%;
  right: 0%;
  display: none;
  transition: right 0.5s ease;
}

.scrollTop.toggled {
  right: 20%;
}
@media only screen and (max-width: 950px) {
  .scrollTop.toggled {
    right: 30%;
  }
}

#openPanelArrow {
  width: 40px;
  height: 75px;
  line-height: 75px;
  font-size: 4vh;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 6vh;
  right: 0%;
  transition: right 0.5s ease;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left:  1px solid;
  border-bottom:  1px solid;
  border-top:  1px solid;
}

/* Delete Table Notification */

.modal-open {
  padding-right: 0 !important;
}

.modal-header, .modal-body, .modal-footer {
  border-style: none;
}

.modal-header {
  white-space: nowrap;
  font-size: 30px;
}

#warningLabel {
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
}

.btn-primary {
  border: none;
}

.btn-primary:hover, .btn-primary.active, .btm-primary:active, .btn-primary:focus {
  border: none;
}


/* Table wrappers */

.table-wrapper {
  min-width: 530px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.wrapper-header {
  position: relative;
  margin-bottom: 5px;
}

.wrapper-header hr {
  border-top: 1px solid #8c8b8b;
}

.wrapper-header input {
  border: none;
  font-size: 150%;
  margin-top: 1%;
  width: 95%;
  display: block;
}

#tableTitle{
  display: inline-block;
  cursor: pointer;
  width: auto;
}

#tableTitle:hover{
  border-radius: 3px;
}
#wrapper_-2 div #tableTitle:hover{
  background-color: transparent;
}

#main-container{
  width: 90%;
}

.read-more{
  cursor: pointer;
}

.error-container{
  text-align: center;
  border: solid black 1px;
}

.error-container p{
  
}

.loader {
  position: relative;
  top: 35%;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid lightgrey; /* Light grey */
  border-top: 7px solid #a2270c; /* Red */
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  animation: spin 2s linear infinite;
  display: none;
}

#loadingScreen{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  text-align: center;
  color: white;
  background-color: #222;
}

#loadingMessage{
  font-family: Verdana, sans-serif;
  position: relative;
  top: 30%;
  display: none;
}

#loadingTitle{
  font-size: 600%;
}

#welcomeMessage{
  font-size: 200%
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html{
    overflow-y: auto;
    overflow-x: hidden;
}

#body{
  display: none;
}

@media only screen and (max-width: 1425px) {
  .navbar-form {
    left: 87vh;
  }
}

@media only screen and (max-width: 1025px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .collapse.in {
    display: block !important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
}

@media only screen and (max-width: 950px) {
  #table {
    min-width: 920px;
  }
}

@media only screen and (max-width: 540px) {
  .navbar-toggle {
    position: absolute;
    left: 470px;
  }
}
