@media only screen and (max-width: 1590px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

@media only screen and (max-width: 1425px) {
  #logo {
    min-width: 358px;
  }
  .navbar-form {
    left: 87vh;
  }
}

@media only screen and (max-width: 950px) {
  #table {
    min-width: 920px;
  }
}

@media only screen and (max-width: 1150px) {
  #app-title{
    visibility: hidden;
  }
}

@media only screen and (max-width: 540px) {
  .navbar-toggle {
    position: absolute;
    left: 470px;
  }
}

@media only screen and (max-width: 306px) {
  #sort {
    position: relative;
    left: 25px;
  }
}

body {
  background-color: whitesmoke;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
}

body.toggled {
  padding-left: 10%;
}

body.toggled #leftSidebar {
  left: 0%;
}

/* Tables */
body.toggled .place {
  display:table;
  height:69px;
  /*width:100%;*/
  width:1208.110px; /*hard coding for wrappers*/
  position:absolute;
}

.main {
  padding-top: 10px;
}

.btn, button {
  background-color: transparent;
  border-radius: 0;
}

button.sortButton:hover {
  color: #7a0902;
}
button.sortButton:active {
  color: black;
}

.btn:hover{
  background-color: lightgrey;
}

h3 {
  font-weight: bold;
  color:#D42127;
}

h3#filters{
  color: #222;
}

h2#info-header {
    color: #222;
}

/* weird placeholder stuff */
tbody {
  width: 96.25%!important;
  max-width: inherit;}

table, th {
  width: 100%;
  margin-bottom: 5%;
  border-collapse: separate;
}

tbody
{
  max-width: inherit;
}

th {
  white-space: nowrap;
  color: #D42127;/*
  background-color: #A2270C;
  color: #FFF;*/
}

td, #titleCell {
  width: 25%;
  text-align: center;
}

td, #descCell {
  width: 45%;
  text-align: center;
}

td, #modCell {
  width: 10%;
  text-align: center;
}

td, #catCell {
  width: 10%;
  text-align: center;
}

td, #groupCell {
  width: 10%;
  text-align: center;
}

td, #title {
  width: 25%;
  text-align: left;
}

td, #desc {
  width: 45%;
  text-align: left;
}

td, #mod {
  width: 10%;
  text-align: center;
}

td, #cat {
  width: 10%;
  text-align: center;
}

td, #group {
  width: 10%;
  text-align: center;
}

td {
  height: 69px;
  border-style: solid;
  word-wrap: break-word;
  border-width: thin;
  border-color: #ededed;
  /* vs #d3d3d3 */
  padding: .75%;
  cursor: pointer;
}

.place {
  position: absolute;
  display: table;
  height: 69px;
  width:100%;
  /*width: 1442px;*/
  position: absolute;
}

.ui-state-highlight {
  background: #A2270C;
}

.notFirst:hover {
  background-color: #A2270C;
  color: #FFF;
}
/* End table CSS*/

#logo {
  max-height: 100%;
}

#sort {
  float: right;
  min-width: 258px;
}

select#sortList {
  color: black;
}

#filters {
  height: 5%;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  overflow: hidden;
}

#leftSidebar {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  height: 100%;
  position: fixed;
  top: 0;
  left: -10%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 10%;
  z-index: 100;
  background-color: whitesmoke;
}

.leftSidebarItem {
  padding: 8px 16px;
  float: left;
  width: 100%;
  border: none;
  outline: none;
  display: block;
  background-color: transparent;
}

.leftSidebarItem.btn {
  text-align: left;
}

.leftSidebarItem:hover {
  background-color: lightgrey;
}

#leftSidebar::-webkit-scrollbar {
  display: none;
}

#leftSidebar h3 {
  margin-top: 0px;
  background-color: #D42127;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fadeInLeft{
  border: 1px solid black;
}
.fadeInLeft:hover{
  background-color: #eee;
}

.fadeInLeft:active{
  background-color: #ccc;
}


/* Side info panel */

.info-panel {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  top: 0;
  padding-top: 55px;
  right: -300px;
  background-color: #f1f1f1;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}


/* Side info panel toggle action*/

.info-panel.toggled {
  right: 0%;
}


/* Card list wrapper */

.info-panel .info-cards {
  width: 100%;
  height: 90%;
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
}


/* Card list header */

#info-header-container{
  height: 5%;
  width: 100%;
}

#info-header {
  margin: 0;
  background-color: #D42127;
  width: 85%;
  height: 100%;
  font-weight: bold;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-header-container *{
  float: left;
}

#close-ticket-panel-button{
  height: 100%;
  width: 15%;
  margin: 0;
  padding: 0;
  border-right: 1px #222 solid;
  top: 0;
}

#clearBtn {
  height: 5%;
  font-weight: bold;
  border-radius: 0;
  padding: 0.9em;
  background-color: #D42127;
  color: #111;
  border: 2px solid grey;
}
#clearBtn:hover {
  background-color: #9e0707;
}
#clearBtn:active {
  background-color: #82070c;
}


/* Individual cards */

.panel {
  direction: ltr;
  margin: 10px; /* changed from 15 */
}

.panel .panel-title {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  width: 80%;
  display: inline-block;
}

.panel-heading {
  background-color: #e8e8e8 !important;
  padding: 7px 10px;
}

.panel-heading .glyphicon-remove /*.close*/ {
  float: right;
  cursor: pointer;
  margin-left: 10px;
  background-color: #A2270C;
  color: #FFF;
  padding: inherit;
  height: 2vh;
  width: 3vh;
  font-size: 15px;
  /* For smaller x
  height: 10px;
  width: 15px;
  font-size: 10px;*/
  text-align: center;
  }

.glyphicon-remove:hover {
/*.close
*/  background-color: black;
}
.panel-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.panel-body hr {
  margin: 5px;
}

.panel-body a {
  font-weight: bold;
  color: #A2270C;
}

.panel-heading a {
  font-weight: bold;
  color: #A2270C;
}

.panel-heading a:hover {
  color: #000;
}

/* Navbar */

.navbar > li > ul  > .dropdown-menu {
  background-color: green;
}

#navbar-collapse:active{
  background-color: #ccc;
}

.navbar {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #e8e8e8;
  border-color: transparent;
  height: 55px;
}

.navbar.toggled {
  margin-left: 10%;
}

.navbar-brand {
  position: absolute;
  top: 0%;
  left: 80px;
  cursor: pointer;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  background-color: #e8e8e8;
  float: right;
  overflow-x: hidden;
}

.navbar-collapse li>button {
  width: 100%;
  text-align: left;
}

#navbar-links li:not(#searchBar):hover {
  background-color: #dcdcdc;
}

.navbar-nav li>.btn {
  height: 55px;
}


#app-title {
  cursor: pointer;
  position: fixed;
  top: 1%;
  left: 50%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#app-title a, a:hover {
  color: #D42127;
  text-decoration: none;
}


/* Search form */

.form-control:hover {
  border-color: #D42127;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-control:focus {
  border-color: #D42127;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


/* Alert notifications */

.alert {
  width: 400px;
}


/* Hamburger menu icon */

.hamburger {
  background: transparent;
  border: none;
  height: 32px;
  position: absolute;
  top: 15%;
  width: 32px;
  z-index: 999;
}

.hamburger:hover {
  outline: none;
  background-color: #BBB;
}

.hamburger:focus {
  outline: none;
}

.hamburger:active {
  outline: none;
  background-color: #999;
}

.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #000;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}

.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  top: 5px;
}

.hamburger.is-closed .hamb-middle {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open .hamb-middle {
  background-color: #000;
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #000;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.sortButton {
  border: none;
  height: 2vh;
  width: 3vh;
  background-color: transparent;
}

.deleteBtn {
  cursor: pointer;
  border: none;
  height: 25px;
  width: 25px;
  background-color: #A2270C;
  color: #FFF;
}

.wrapper-header .deleteBtn{
  display: block;
  text-align: center;
  position: absolute;
  right: 0;
  background-color: #D42127;
  color: #FFF;
  padding: inherit;
  border: 2px solid dimgrey;
  border-radius: 5px;
}

.panel-heading .deleteBtn{
  display: block;
  text-align: center;
  margin: 0;
}



.deleteBtn:hover{
  background-color: #7a0902;
}
.deleteBtn:active{
  background-color: black;
}


/* Scroll to top button */
.scrollTop {
  width: 52px;
  height: 52px;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  position: fixed;
  margin: 20px;
  bottom: 0%;
  right: 0%;
  display: none;
  transition: right 0.5s ease;
  color: #000;
}

.scrollTop.toggled {
  right: 20%;
}

#openPanelArrow {
  width: 52px;
  height: 52px;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  position: fixed;
  margin: 20px;
  top: 50px;
  right: 0%;
  transition: right 0.5s ease;
  color: #000;
}

#openPanelArrow:hover{
  color: #A2270C;
}

/* Delete Table Notification */

.modal-open {
  padding-right: 0 !important;
}

.modal-header, .modal-body, .modal-footer {
  border-style: none;
}

.modal-header {
  white-space: nowrap;
  font-size: 30px;
  color: #A2270C;
}

#warningLabel {
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
}

.btn-primary {
  background-color: #A2270C;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #82070C !important;
  border: none;
}

/* Table wrappers */

.table-wrapper {
  min-width: 530px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.wrapper-header {
  color: #A2270C;
  position: relative;
  margin-bottom: 5px;
}

.wrapper-header hr {
  border-top: 1px solid #8c8b8b;
}

.wrapper-header input {
  border: none;
  font-size: 150%;
  margin-top: 1%;
  width: 95%;
  display: block;
}

#tableTitle{
  display: inline-block;
  cursor: pointer;
  width: auto;
}

#tableTitle:hover{
  color: white;
  background: #D42127;
  border-radius: 5px;

}

#main-container{
  width: 90%;
}

.loader {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid lightgrey; /* Light grey */
  border-top: 16px solid #D42127; /* Red */
  border-bottom: 16px solid #0F0;
  border-left: 16px solid #00F;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html {
  overflow-x: hidden;
  overflow-y:scroll;
}

#projectInfo {
  padding-top: 200px;

}
