/* ==========================================================================
Author's custom styles
========================================================================== */

@media only screen and (max-width: 1300px) {
  body {
    min-width: 1300px;
    min-height: 920px;
  }
  h1{
    min-width: 1300px;
  }
  #searchBar{
    position: fixed;
  }
  #searchButton{
    /*float: left;*/
  }
}
@media only screen and (max-height: 919px) {
  body{
    min-height: 920px;
  }
}

body, html {
  height: 100%;
}

html{
  overflow: hidden;
}

body {
  padding-top: 8%;
  padding-bottom: 5%;
  padding-left: 1%;
}

h1{
  position: absolute;
  top: 5%;
  left: 0%;
  text-align: center;
  background-color: #dd6367;
  padding: 0%;
  height: 5%;
  width: 100%;
  min-height: 46px;
}


#logo{
  position: absolute;
  top: 0%;
  max-width: 25%;
  left: 5%;
  cursor: pointer;
  min-width: 420px;
  margin: auto;
}

#sort{
  position: absolute;
  top: 11%;
  right: 10%;
}

#searchBar{
  position: absolute;
  top: 2.5%;
  left: 37.5%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#searchButton{
  float: right;
  height: 28px;
  top: -.1px;
  color: #902020;
  background-color: #dd6367;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

#leftCloseButton{
  border: none;
  background-color: transparent;
  width: 20%;
  height: 3%;
  position: absolute;
  padding: 0px;
  text-align: center;
  margin: 0px;
  right: 0%;
  top: 0%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#leftCloseButton:hover{
  background-color: #C83C3C;
}
#closeIcon{
  font-size: 70%;
}

#leftOpenButton{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 2.5%;
  min-width: 37px;
  height: 5%;
  padding: 0px;
  background-color: transparent;
}

#filters{
  height: 5%;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
}
#leftSidebar{
  position: fixed;
  top: 0%;
  left: 0%;
  margin-top: 0px;
  padding: 0px;
  height: 100%;
  width: 0%;
  overflow-x: hidden;
  overflow-y: auto;
}
#leftSidebar h3{
  margin-top: 0px;
  background-color: #dd6367;
}
