/* ==========================================================================
Author's custom styles
========================================================================== */

thead th, thead td {
	text-align: center;
}

thead,td {
  border-style: solid;
  border-width: 2%;
  word-wrap: break-word;
}

th.lastMod {
  width: 10%;
}

th.category {
  width: 10%;
}

body, html {
  height: 100%;
}

body {
  padding-top: 10%;
  padding-bottom: 20px;
  padding-left: 0%;
  padding-right: 0%;
  overflow: auto;
}

h1{
  position: absolute;
  top: 5%;
  left: 0%;
  text-align: center;
  background-color: #dd6367;
  padding: 0%;
  height: 5%;
  width: 100%;
}

#table{
  width: 100%;
}

#logo{
  position: absolute;
  top: 0%;
  width: 25%;
  left: 5%;
  cursor: pointer;
}

#sort{
  position: absolute;
  top: 11%;
  right: 10%;
}

#searchBar{
  position: absolute;
  top: 2.5%;
  left: 37.5%;
  /*border: 2px solid #dd6367;*/
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#searchButton{
  float: right;
  height: 28px;
  top: -.1px;
  color: #902020;
  background-color: #dd6367;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  /*border: 2px solid #dd6367;*/
  }

#leftCloseButton{
  border: none;
  background-color: transparent;
  width: 20%;
  height: 3%;
  position: absolute;
  padding: 0px;
  text-align: center;
  margin: 0px;
  right: 0%;
  top: 0%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#leftCloseButton:hover{
  background-color: #C83C3C;
}
#closeIcon{
  font-size: 70%;
}

#leftOpenButton{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 2.5%;
  height: 5%;
  padding: 0px;
  background-color: transparent;
}

#filters{
  height: 5%;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
}
#leftSidebar{
  position: fixed;
  top: 0%;
  left: 0%;
  margin-top: 0px;
  padding: 0px;
  height: 100%;
  width: 0%;
  overflow-x: hidden;
  overflow-y: auto;
}
#leftSidebar h3{
  margin-top: 0px;
  background-color: #dd6367;
}
